.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;

  border-radius: 10px;
}

.container-div .full-name {
  font-size: 25px;
  font-weight: 700;

  margin-top: 10px;
}

.container-div .username {
  color: var(--secondry-text-color);
  font-size: 15px;
  margin-bottom: 10px;
}

.container-div .email-link {
  text-decoration: none;
  margin-bottom: 15px;
}

.user-role {
  background-color: var(--secondry-background);
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;

  border-color: rgba(255, 255, 255, 0.18);
  border-width: 1px;
  border-style: solid;
}
